<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>

    <style>

        body{
            font-family: Arial, Helvetica, sans-serif;
        }

        .contenedor{
            width: 850px;
            margin: 40px auto;
            padding: 20px;
        }

        table{
            width: 100%;
            border-collapse: collapse;
        }

        th, td{
            border: 2px solid black;
            padding: 10px;
            text-align: left;
        }

        .acciones{
            font-size: 20px;
        }

    </style>

</head>

<body>

    <div class="contenedor">

        <table>

            <tr>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Tipo Usuario</th>
                <th>Acciones</th>
            </tr>

            <tr>
                <td>Patricia</td>
                <td>patricia@codingdojo.com</td>
                <td>Admin</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

            <tr>
                <td>Andrea</td>
                <td>andrea@codingdojo.com</td>
                <td>Usuario</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

            <tr>
                <td>Katya</td>
                <td>katya@codingdojo.com</td>
                <td>Usuario</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

        </table>

    </div>

</body>
</html>