<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Pokédex</h1>
    
    <div class="contenedor">
        {% for poke in pokemones %}
            <div class="tarjeta">
                <h3>#{{ poke.id }} - {{ poke.nombre }}</h3>
                <img src="{{ url_for('static', filename='img/' + poke.imagen) }}" alt="{{ poke.nombre }}">
                <p><strong>Tipo:</strong> {{ poke.tipo }}</p>
                <p><strong>Poder:</strong> {{ poke.poder }}</p>
                <p><strong>Altura:</strong> {{ poke.altura }} | <strong>Peso:</strong> {{ poke.peso }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>